{% extends 'base.html' %}
{% block content %}
<h1 class="text-3xl font-bold text-center mt-6">Our Farmer Products</h1>
<div class="container mx-auto px-4 mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for product in products %}
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <img class="w-full h-40 object-cover" src="{{ product.image.url }}" alt="{{ product.name }}" />
                <div class="p-4">
                    <div class="flex justify-between">
                        <div class="w-1/2 pr-2">
                            <h2 class="text-lg font-semibold text-green-800">{{ product.name }}</h2>
                            <p class="text-gray-700">Price: {{ product.price }} ₹/kg</p>
                            {% if product.is_expired %}
                                <p class="text-red-500 font-semibold">(Expired)</p>
                            {% endif %}
                            <p class="text-gray-600">Stock Available: {{ product.quantity }} {{product.unit }}</p>
                            <p class="text-gray-600">Quality: {{ product.quality }}</p>
                            <p class="text-gray-600">Expiry: {{ product.expiry_date|date:"F j, Y" }}</p>
                        </div>
    
                        <div class="w-1/2 pl-2 border-l border-gray-300">
                            <h3 class="text-lg font-semibold">Farmer:</h3>
                            <p class="text-gray-600">Name: {{ product.farmer.name }}</p>
                            <p class="text-gray-600">State: {{ product.farmer.state }}</p>
                            <p class="text-gray-600">District: {{ product.farmer.district }}</p>
                            <p class="text-gray-600">City: {{ product.farmer.city }}</p>
                            <p class="text-gray-600">Phone: {{ product.farmer.phone }}</p>
                        </div>
                    </div>
                </div>
    
                <!-- WhatsApp Contact Button -->
                <div class="p-4">
                    <a href="https://wa.me/+91{{ product.farmer.phone }}?text=Hello%20{{ product.farmer.name }}!%20I%20am%20interested%20in%20your%20product%20{{ product.name }}." 
                       class="flex items-center justify-center bg-green-500 text-white px-4 py-2 rounded hover:bg-green-400" 
                       target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-5 h-5 mr-2"> 
                        Send Message
                    </a>
                </div>
            </div>
        {% empty %}
            <p class="text-center text-gray-500">No available products at the moment.</p>
        {% endfor %}
    </div>          
</div>

    
{% endblock %}